@import "constants";
@import "typography";
@import "alerts";

body {
    overflow:hidden;
    margin:0;
}
  
a {
    color: #00B7FF;
}

.hidden {
    display: none;
}

.map-tile {
    
    min-height: 100vh;
    min-width: 100vw;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    transition: all 0.5s;

    z-index: -100;

    &.current {
        z-index: 100;
    }

    &.north {
        top: 0;
        transform: translate(-50%,-100%);
    }
  
    &.south {
        top: 0;
        transform: translate(-50%,100%);
    }
  
    &.east {
        left: 0;
        transform: translate(100%,-50%);
    }
  
    &.west {
        left: 0;
        transform: translate(-100%,-50%);
    }
  
    > svg {
        @media (max-aspect-ratio: 1/1) {
            height:100vh;
        }
        &.tile-016 {
            max-width: 100vw;
            max-height: 100vh;
        }
        background-color: $map-color-bg;

        > path {
        fill: $map-color-path;
        stroke: $map-color-path-edge;
        stroke-width: 0.1;
        stroke-linejoin: round;
        display:none;
        }
    }
}

.tile-001 .path-001,
.tile-002 .path-002,
.tile-003 .path-003,
.tile-004 .path-004,
.tile-005 .path-005,
.tile-006 .path-006,
.tile-007 .path-007,
.tile-008 .path-008,
.tile-009 .path-009,
.tile-010 .path-010,
.tile-011 .path-011,
.tile-012 .path-012,
.tile-013 .path-013,
.tile-014 .path-014,
.tile-015 .path-015,
.tile-016 .path-016 {
    display:block;
}
  
  
  
/**
* Borders - to stop people going the wrong way
*/
.border {
    background-color: $map-color-border-bump;
    position:fixed;
    transition-duration: 0.2s;
    z-index:200;
}
  
.north-border {
    top:0;
    width: 100vw;
    height:0;
}
  
.south-border {
    bottom:0;
    width: 100vw;
    height:0;
}
  
.north-border.bump,
.south-border.bump {
    height:$map-border-width;
}
  
.east-border {
    top:0;
    right:0;
    width: 0;
    height: 100vh;
}
  
.west-border {
    top:0;
    left:0;
    width: 0;
    height: 100vh;
}
  
.east-border.bump,
.west-border.bump {
    width:$map-border-width;
} 
