h1,
h2,
h3,
h4 {
    font-family: 'XoloniumRegular';
    font-weight: normal;
    font-style: normal;
}

body,
p {
    font-family: 'OrkneyRegular';
    font-weight: normal;
    font-style: normal;
 }