{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
{% endblock %}

{% block tilepaths %}
  <path class="path-000" d="" />

  <path class="path-001" d="M20 0 v25 h-5 v5 h20 v-5 h-5v-25 z" />

  <path class="path-002" d="M50 20 h-25 v-5 h-5 v20 h5 v-5 h25 z" />

  <path class="path-003" d="M20 0 v30 h30 v-10 h-20 v-20 z" />
  
  <path class="path-004" d="M0 20 h25 v-5 h5 v20 h-5 v-5 h-25 z" />

  <path class="path-005" d="M20 0 v20 h-20 v10 h30 v-30 z" />

  <path class="path-006" d="M0 20 h50 v10 h-50 z" />

  <path class="path-007" d="M20 0 v20 h-20 v10 h50 v-10 h-20 v-20 z" />
  
  <path class="path-008" d="M20 50 v-25 h-5 v-5 h20 v5 h-5 v25 z" />

  <path class="path-009" d="M20 0 v50 h10 v-50 z" />

  <path class="path-010" d="M50 20 h-30 v30 h10 v-20 h20 z" />
  
  <path class="path-011" d="M20 0 v50 h10 v-20 h20 v-10 h-20 v-20 z" />
  
  <path class="path-012" d="M0 20 h30 v30 h-10 v-20 h-20 z" />
  
  <path class="path-013" d="M20 0 v20 h-20 v10 h20v20 h10 v-50 z" />
  
  <path class="path-014" d="M0 20 h50 v10 h-20 v20 h-10 v-20 h-20 z" />
  
  <path class="path-015" d="M20 0 v20 h-20 v10 h20 v20 h10 v-20 h20 v-10 h-20 v-20 z" />
{% endblock %}
