<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/xolonium" type="text/css"/>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/orkney" type="text/css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script type="module" src='/js/main.js'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body tabindex="1">
    <div class="map-tile current" data-x-coord=0 data-y-coord=0>
          {% block tilepaths %}{% endblock %}
    </div>

    <div class="map-tile north" data-x-coord=0 data-y-coord=-1>
          {% block tilepaths %}{% endblock %}
    </div>

    <div class="map-tile south" data-x-coord=0 data-y-coord=1>
          {% block tilepaths %}{% endblock %}
    </div>

    <div class="map-tile east" data-x-coord=1 data-y-coord=0>
          {% block tilepaths %}{% endblock %}    
    </div>

    <div class="map-tile west" data-x-coord=-1 data-y-coord=0>
          {% block tilepaths %}{% endblock %}
    </div>

    {% block body %}{% endblock %}

    <div class="border north-border"></div>
    <div class="border south-border"></div>
    <div class="border east-border"></div>
    <div class="border west-border"></div>

  
    <div id="message-holder" class="hidden">
      <section class="welcome message hidden" role="alert">
        <h1>Welcome</h1>
        <p>You have entered a maze.</p>
        <p>Use arrow keys, or swipe to move around.</p>
        <button class="gotit">Got it!</button>
      </section>
      

      <section class="finished message hidden" role="alert">
        <h1>Well done</h1>
        <p>You have completed the maze and earned a warm feeling!</p>
        <p>Refresh the page to start again, or hit one of the buttons below.</p>
        <button class="reset">Reset</button>
        <button class="newmap">New map</button>
      </section>

      
      <section class="reset message hidden" role="alert">
        <h1>Stuck?</h1>
        <p>Press 'R' or shake your device to reset the current map - maybe it'll be easier starting from a different spot.</p>
        <p>Press 'X' or 'Escape' to start again with a new map.  Or shake your device for a bit longer</p>
        <button class="gotit">Got it!</button>
      </section>

      
      <section class="resetting message hidden" role="alert">
        <h1>Resetting map...</h1>
      </section>

      
      <section class="newmap message hidden" role="alert">
        <h1>Creating new maze...</h1>
      </section>
    </div>


    <div role="region" class="directions visually-hidden" aria-live="polite">
        <p>You're at a <span id="tile-type">medal!</span>.</p>
        <p class="direction direction-north">
          You <span class="notthisway" id="not-north">not</span> move North.
        </p>
        <p class="direction direction-south">
          You <span class="notthisway" id="not-south">not</span> move South.
        </p>
        <p class="direction direction-east">
          You <span class="notthisway" id="not-east">not</span> move East.
        </p>
        <p class="direction direction-west">
          You <span class="notthisway" id="not-west">not</span> move West.
        </p>
    </div> 
  </body>
</html>
